---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} A.S.D. Mercenari del Labirinto. <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
	<div class="social-links">
			<a href="https://www.instagram.com/mercenari.del.labirinto/" target="_blank">
				<span class="sr-only">Segui i Mercenari del Labirinto su Instagram</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
					<path d="M16 11.37a4 4 0 1 1-7.75 1.17 4 4 0 0 1 7.75-1.17z"/>
					<line x1="17.5" y1="6.5" x2="17.5" y2="6.5"/>
				</svg>
			</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
